[Unit]
Description=Graphite monitoring for Comtel shelf
After=systemd-udevd.service

[Service]
Type=forking
PIDFile=/var/run/graphite_comtel.pid
Restart=always
RestartSec=1
User=root
ExecStart=/opt/Graphite/bin/graphite_monitor --config_file=/etc/graphite_comtel --run_path=/opt/Graphite-Monitor --pid_file=/var/run/graphite_comtel.pid

[Install]
WantedBy=basic.target
