# This config  file lists the ssensors to be monitored by this server
# NOTE: In each process, only one shelf can have its sensors monitored
# SENSOR Format:
# sensor=type arguments
# types: IpmiTemperature, IpmiFanspeed, Apollo

## IpmiTemperature:
# sensor=IpmiTemperature NAME SENSOR_ID SHELF_MGR_IP DEVICE_IPMB_ADDR
## ex. SCHROFF crate:
# sensor=IpmiTemperature Left 7 192.168.10.172 0x5a

## IpmiFanspeed:
# sensor=IpmiFanspeed NAME SENSOR_ID SHELF_MGR_IP DEVICE_IPMB_ADDR
## ex. SCHROFF crate:
# sensor=IpmiFanspeed SCHROFF-Fan5 14 192.168.10.172 0x5a

## Apollo:
# sensor=Apollo APOLLO_ID 0 SHELF_MGR_IP DEVICE_IPMB_ADDR
## ex. SCHROFF crate:
# sensor=Apollo 2 0 192.168.10.172 0x8c

graphite_server=192.168.10.20
graphite_port=2003

sensor=ApolloMonitor /opt/address_tables/connections.xml Apollo06 CM_MON 3
sensor=ApolloMonitor /opt/address_tables/connections.xml Apollo06 C2C 1
sensor=ApolloMonitor /opt/address_tables/connections.xml Apollo06 ZYNQ_OS 1
sensor=ApolloMonitor /opt/address_tables/connections.xml Apollo06 CM_FF_MON 3