# This config  file lists the ssensors to be monitored by this server
# NOTE: In each process, only one shelf can have its sensors monitored
# SENSOR Format:
# sensor=type arguments
# types: IpmiTemperature, IpmiFanspeed, Apollo

## IpmiTemperature:
# sensor=IpmiTemperature NAME SENSOR_ID SHELF_MGR_IP DEVICE_IPMB_ADDR
## ex. SCHROFF crate:
# sensor=IpmiTemperature Left 7 192.168.10.172 0x5a

## IpmiFanspeed:
# sensor=IpmiFanspeed NAME SENSOR_ID SHELF_MGR_IP DEVICE_IPMB_ADDR
## ex. SCHROFF crate:
# sensor=IpmiFanspeed SCHROFF-Fan5 14 192.168.10.172 0x5a

## Apollo:
# sensor=Apollo APOLLO_ID 0 SHELF_MGR_IP DEVICE_IPMB_ADDR
## ex. SCHROFF crate:
# sensor=Apollo 2 0 192.168.10.172 0x8c

sensor=IpmiTemperature Controller 6 192.168.10.172 0x5a
sensor=IpmiTemperature Left 7 192.168.10.172 0x5a
sensor=IpmiTemperature Center 10 192.168.10.172 0x5a
sensor=IpmiTemperature Right 9 192.168.10.172 0x5a


sensor=IpmiFanspeed SCHROFF-Fan1 10 192.168.10.172 0x5a
sensor=IpmiFanspeed SCHROFF-Fan2 11 192.168.10.172 0x5a
sensor=IpmiFanspeed SCHROFF-Fan3 12 192.168.10.172 0x5a
sensor=IpmiFanspeed SCHROFF-Fan4 13 192.168.10.172 0x5a
sensor=IpmiFanspeed SCHROFF-Fan5 14 192.168.10.172 0x5a
sensor=IpmiFanspeed SCHROFF-Fan6 15 192.168.10.172 0x5a

sensor=Apollo 2 0 192.168.10.172 0x8c